.correction-details-container {
  width: 90%;
  margin: 40px auto;
}

.back-btn {
  background: #3f51b5;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}
 .correctiontext{
color: #3f51b5;
 }
.details-card {
  display: flex;
  gap: 20px;
  background: #f8f9ff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.details-image {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.details-info p {
  margin: 5px 0;
}

.corrections-list {
  margin-top: 20px;
}

.corrections-list ul {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.corrections-list li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.corrections-list li:last-child {
  border-bottom: none;
}
